<launch>
  <!-- local  -->
  <node name="error_pose_generator" pkg="rpl" type="error_pose_generator.py">
    <param name="direction" value="x"/>
    <param name="value" value="0.1"/>
  </node>
  <!-- minimini2  -->
  <machine name="minimini2" address="tisdsyaki-NUC7i7DNB" env-loader="/opt/ros/kinetic/setup.bash" user="tis-dsyaki"  password="TIS-dsyaki" default="true" />
  <node name="trajectory_publisher" pkg="ugv" type="ugv"  machine="minimini2"/>
</launch>
