<launch>
  <param name="calibration_path" value="$(find rpl)/config/camera.xml" />
  <param name="file_path" value="$(find rpl)/config/source_position/"/>
  <param name="slop_ms" type="double"    value="1000.0"/>

  <node name="camera" pkg="rpl" type="camera.py" output="screen"/>
  <node name="ar" pkg="rpl" type="ar_detector.py" output="screen"/>
  <node name="estimate_position" pkg="rpl" type="estimate_position.py" output="screen"/>
  <node name="pose_integrator_rosbot2" pkg="rpl" type="pose_integrator_rosbot2.py" output="screen"/>
  <node name="pose_confusion_rosbot2" pkg="rpl"  type="pose_confusion_rosbot2.py" output="screen"/>
</launch>
