<launch>
  <param name="calibration_path" value="$(find rpl)/config/camera.xml" />
  <param name="file_path" value="$(find rpl)/config/source_position/"/>
  <param name="meter_threshold" type="double"    value="0.5"/>
  <param name="degree_threshold" type="double"    value="5.0"/>

  <node name="camera" pkg="rpl" type="camera.py" output="screen"/>
  <node name="ar" pkg="rpl" type="ar_detector.py" output="screen"/>
  <node name="ar_image_view" pkg="image_view" type="image_view" output="screen">
    <remap from="image" to="/AR/camera_image" />
  </node>
  <node name="estimate_position" pkg="rpl" type="estimate_position.py" output="screen"/>

  <node name="detect_error_position" pkg="rpl" type="detect_error_position.py" output="screen"/>

</launch>
